.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    .logo {
        width: 40%;
        margin: 10% 30% 0;
    }

    .transparent {
        opacity: 0;
    }

    a {
        text-decoration: none;
        &.active > div {
            background: #424242;
        }
    }

    .main-content {
        flex: 1;
        overflow-y: auto;
    }
}
